---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProducCard from "../components/ProductCard.astro";
---

<Layout title="SHINNYTOOTHS">
    <Header />
    <main class="grid md:grid-cols-3 grid-cols-1 grid-rows-9 gap-1">
        <ProducCard
            imagenSrc="/sample.jpg"
            product="Producto de ejmplo"
            productDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"
        />
        <ProducCard
            imagenSrc="/sample.jpg"
            product="Producto de ejmplo"
            productDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"
        />
        <ProducCard
            imagenSrc="/sample.jpg"
            product="Producto de ejmplo"
            productDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"
        />
        <ProducCard
            imagenSrc="/sample.jpg"
            product="Producto de ejmplo"
            productDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"
        />
        <ProducCard
            imagenSrc="/sample.jpg"
            product="Producto de ejmplo"
            productDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"
        />
        <ProducCard
            imagenSrc="/sample.jpg"
            product="Producto de ejmplo"
            productDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"
        />
    </main>
</Layout>
