---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
---

<Layout title="SHINNYTOOTHS">
    <Header />
    <main>
        <Form />
    </main>
</Layout>
