---

---

<form class="w-1/2 max-w-lg mx-auto">
    <br />
    <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-first-name"
    >
        Nombre
    </label>
    <input
        class="appearance-none block w-full border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white text-red-500"
        id="grid-first-name"
        type="text"
        placeholder="Jane"
        required
    />
    <br />

    <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-last-name"
    >
        Apellido
    </label>
    <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-last-name"
        type="text"
        placeholder="Doe"
        required
    />
    <br />

    <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-password"
    >
        Telefono
    </label>
    <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-password"
        type="tel"
        placeholder="654789234"
        required
    />
    <br />

    <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-city"
    >
        Email
    </label>
    <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-city"
        type="email"
        placeholder="example@example.com"
        required
    />

    <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-zip"
    >
        <br />
        Que es lo que necesitas?
    </label>
    <textarea
        class="appearance-none block w-full bg-gray-200 border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-zip"
        rows="5"
        cols="33"
        required
    >
    </textarea>
    <br />
    <button type="submit"> Enviar</button>
</form>
<style>
    input {
        color: rgb(36, 36, 36);
    }
    button {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.5s;
    }
    button:hover {
        background-color: #000000;
        color: white;
        border: 2px solid #ffffff;
    }
    textarea {
        color: rgb(0, 0, 0);
    }
</style>
